# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
main
adminchrome
adminchrome_linux
adminchrome_mac
adminchrome_darwin
adminchrome_win
test.toml

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


