<!DOCTYPE html>
<html>
<head>
	<title>Error</title>

	<style>
	body {
		background-color: #d3d4d5;
		font-size: 16pt;
	}
	</style>
</head>


<body>
	<h1>There was an error</h1>
	{{ . }} 
	<p />
	<a href='/'>Please click here to go back to the main page</a>
</body>
</html>
