<!DOCTYPE html>
<html>
<head>
	<title>Send to TV</title>
	<style>
	body {
		background-color: #d3d4d5;
		font-size: 16pt;
	}
	</style>

</head>

<body>
	<form method="POST" action="/sendurl">
		Please select the TV you want to action.
		<select name="tv">
		{{ range .TV -}}
		<option value="{{.Host}}">{{.Name}}</option> 
		{{ end }}
		</select>
		<p />
		Please fill in the URL you want to send
		<input type="text" name="url" size="100" placeholder="https://oliveai.com">
		<p />
		<div>
		<input type="radio" id="action1" name="action" value="open" checked>
		<label for="action1">Open URL</label>
		</div>
		<div>
		<input type="radio" id="action2" name="action" value="reload">
		<label for="action2">Reload Browser</label>
		</div>
		<div>
		<input type="radio" id="action3" name="action" value="screenshot">
		<label for="action3">Take Screenshot</label>
		</div>
		<p />
		<input type="submit" value="Submit Action">
	</form>
</body>
</html>
